.icons-block{
	display: flex;
	justify-content: center;
	margin: 0 auto 40px auto;
	flex-wrap: wrap;
	max-width: 80%;
}

.icon {
	width: 120px;
	transition: transform .3s ease;

}

.icon:hover {
	transform: scale(1.04);
	transition: transform .3s ease;
}