@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');

* {
	font-family: 'JetBrains Mono', monospace;
	box-sizing: border-box;
}

:root[data-theme="light"] {
	--background-color: #dcdcdd;
	--header-color: #e9e9eb;
	--accent-color: #ff6600;
	--text-color: #232938;
	--card-color: linear-gradient(122deg, rgba(246,245,255,1) 9%, rgba(242,242,244,1) 37%, rgba(246,245,255,1) 77%, rgba(239,240,235,1) 98%);
}

:root[data-theme="dark"] {
	--background-color: #232938;
	--header-color: #43506c;
	--accent-color: #ef4b4c;
	--text-color: #e9e9eb;
	--card-color: linear-gradient(122deg, rgba(67, 80, 108, 1) 60%, rgba(90, 108, 146, 1) 100%);
}

body {
	background-color: var(--background-color);
	transition: all 0.5s ease;
}

body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: var(--header-color);
}

body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: var(--text-color);
}