@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');

* {
  font-family: 'JetBrains Mono', monospace;
  box-sizing: border-box;
}

:root[data-theme="light"] {
  --background-color: #FAF2EF;

  --header-color: #eee5e2;

  --footer-color: #bab3b1;
  --footer-color--text: #d1d1d1;
  --right-color: #868180;

  --link-color: #242424;
  --accent-color: #ff6600;

  --shops-color: linear-gradient(122deg, rgba(245,119,106,1) 4%, rgba(255,186,89,1) 45%);

  --text-color: #212121;
}

:root[data-theme="dark"] {
  --background-color: #242424;

  --header-color: #333;

  --footer-color: #333;
  --footer-color--text: #ccc;
  --right-color: #444;

  --link-color: #bbe903;
  --accent-color: #fd239d;

  --shops-color:linear-gradient(122deg, rgba(12,79,86,1) 4%, rgba(17,114,124,1) 45%);


  --text-color: #f5f6f7;
}

body {
  background-color: var(--background-color);
  transition: all 0.5s ease;
}